/* ==========================================================================
   CSS Queries
   ========================================================================== */

@media screen and (max-width: 1200px) {  
    nav {   
        height: auto;
        width: 100%;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;
        margin: 0;
        padding: 0;  
    }  
    nav li {  
        width: 100%;  
        float: left;  
        background-color: #fff; 
        position: relative;
        text-align: center;
        border-bottom: 1px solid #586165
    }
    nav ul li.last {  
        border-bottom: none;
    }
    nav ul li a {  
        width: 100%;  
        float: left;  
        background-color: #FFFF9F; 
        position: relative;
        padding: 10px 0; 
        text-align: center;
    }
    .laptop-placeholder img {
        max-width: 80%;
    }

    .md-text-center{
        text-align: center;
    }
}  

@media only screen and (max-width : 1200px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }
    .pullcontainer {
	    width: 100%;
		text-align: right;
		padding: 20px 20px 0 0;
    }   
    .pullcontainer a#pull {  
        display: block;  
        width: 100%;
        color: #800000;   
    }   
}

@media only screen and (max-width : 768px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }
    .pullcontainer {
	    width: 100%;
		text-align: right;
		padding: 20px 20px 0 0;
    }   
    .pullcontainer a#pull {  
        display: block;  
        width: 100%;
        color: #800000;   
        margin-left: 0.5em;
    }   
    .logo{
        width: 353px!important;
        padding-right: 0;
    }
    .logo_img{
        left:0!important;
    }
    .logo_img img{
        width: 80%;
    }
    .logo_img img{
        padding-left: 0;
    }
}

@media screen and (max-width : 768px) {  
    .quote-container .portrait{
        top:0.5em;
        margin:none;
        margin-left:50px;
    }
    .quote{
        padding: none;
    }
    .quote>blockquote{
        margin: 0 0 80px;
        border:none;
    }
    .quote-container .quote p{
        position: relative;
        margin-bottom: 20px;
    margin-top: 7em;
    margin-left: 1em;
    }
    .quote-container .quote cite{
        text-align: center;
    }

}